.App {
  text-align: center;
}

/* HEADER SECTION */
.header {
  background: url("./images/andrew-neel-jtsW--Z6bFw-unsplash.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.black-overlay {
  background: rgba(0, 0, 0, 0.60);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 10px;
  font-family: poppins-thin;
  font-size: 2vmax;
}

.headline-name {
  color: #1B5C5A;
}

.headline-words {
  margin-bottom: 10px;
}

.hero-button {
  display: flex;
  background: transparent;
  font-family: poppins-regular;
  color: white;
  font-size: 1.5vmax;
  border: 2px solid white;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.route-button {
  text-decoration: none;
  cursor: pointer;
}

.hero-button-arrow {
  size: 1.5vmax;
  margin-left: .5vmax;
  font-weight: bolder;
  
}

.hero-button:hover > .hero-button-arrow{
  size: 1.5vmax;
  margin-left: .5vmax;
  font-weight: bolder;
  transition: all 0.5s ease 0.0s;
  transform: rotate(90deg)
}



/* ABOUT SECTION */
.about-section {
  height: 100vh;
  background: #2C2F30;
  background-size: cover;
  position: relative;
}

@media all and (max-width: 1000px) {
  .about-section {
    height: fit-content;
    background: #2C2F30;
    background-size: cover;
    position: relative;
  }
}

.about-section-div-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skills-div {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* position: absolute; */
  top: 0;
}

.about-skills {
  color: #1B5C5A;
  margin: 0px;
  list-style: none;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  align-items: center;
  width: 60%;
}

@media only screen and (max-width: 550px){
  .about-skills {
    grid-template-columns: repeat(5, auto);
  }
}

.about-skills li{
  margin: 20%;
}

.about-boxes {
  display: flex;
  width: 100%;
  color: white;
  /* max-height: 50vh; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* overflow: hidden; */
}

.box-item1 {
  max-height: 3500px;
  max-width: 600px;
  min-width: 400px;
  margin: 25px;
  font-family: poppins-regular;
  overflow-y: scroll;
}

.box-item2 {
  margin: 25px;
  min-width: 200px;
}

.down-arrow{
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  animation: pulse 2s infinite
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(255, 254, 254, 0.7);
  }
  70% {
    transform: scale(1.25);
    /* box-shadow: 0 0 0 15px rgb(255, 254, 254, 0.7); */
  }
  100% {
    transform: scale(0.9);
  }
 }

/* Project SECTION */

.project-section {
  height: 100vh;
  background: rgb(99, 108, 111);
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  
}

.project-section-header {
  display: flex;
  color: white;
  border-bottom: solid #1B5C5A ;
  font-family: poppins-thin;
  font-size: 2vmax;
  justify-content: center;
  margin-top: 5%
}

.project-container {
  display: flex;
  width: 90%;
  height: 100%;
  background-color: white;
  max-height: 50vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-row {
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
  border-radius: 7px;
  padding: 12px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.main-project-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 400px;
  min-width: 100px;
}

/* GLOBALS */

.section-route-button {
  align-self: flex-end;
  /* position: absolute; */
  bottom: 2%;
  margin: 2%;
  align-content: flex-end;
}

.section-header {
  display: flex;
  color: white;
  font-family: poppins-thin;
  font-size: 1.75em;
  justify-content: center;
  margin-top: 25px;
}

.section-header h1 {
  position: relative;
  border-bottom: solid #1B5C5A ;
}

h1 {
  
  margin-block-start: 0px;
  margin-block-end: 0px;
}



