.App {
  text-align: center;
}

/* HEADER SECTION */
.header {
  background: url("./images/andrew-neel-jtsW--Z6bFw-unsplash.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}

.black-overlay {
  background: rgba(0, 0, 0, 0.60);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 10px;
  font-family: poppins-thin;
  font-size: 2vmax;
}

.headline-name {
  color: #1B5C5A;
}

.headline-words {
  margin-bottom: 10px;
}

.hero-button {
  display: flex;
  background: transparent;
  font-family: poppins-regular;
  color: white;
  font-size: 1.5vmax;
  border: 2px solid white;
  align-items: center;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}

.route-button {
  text-decoration: none;
  cursor: pointer;
}

.hero-button-arrow {
  size: 1.5vmax;
  margin-left: .5vmax;
  font-weight: bolder;
  
}

.hero-button:hover > .hero-button-arrow{
  size: 1.5vmax;
  margin-left: .5vmax;
  font-weight: bolder;
  transition: all 0.5s ease 0.0s;
  transform: rotate(90deg)
}



/* ABOUT SECTION */
.about-section {
  height: 100vh;
  background: #2C2F30;
  background-size: cover;
  position: relative;
}

@media all and (max-width: 1000px) {
  .about-section {
    height: fit-content;
    background: #2C2F30;
    background-size: cover;
    position: relative;
  }
}

.about-section-div-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-center-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skills-div {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* position: absolute; */
  top: 0;
}

.about-skills {
  color: #1B5C5A;
  margin: 0px;
  list-style: none;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  align-items: center;
  width: 60%;
}

@media only screen and (max-width: 550px){
  .about-skills {
    grid-template-columns: repeat(5, auto);
  }
}

.about-skills li{
  margin: 15%;
  text-align: center;
}

.about-boxes {
  display: flex;
  width: 100%;
  color: white;
  /* max-height: 50vh; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  /* overflow: hidden; */
}

.box-item1 {
  max-height: 3500px;
  max-width: 600px;
  min-width: 400px;
  margin: 25px;
  font-family: poppins-regular;
  overflow-y: scroll;
}

.box-item2 {
  margin: 25px;
  min-width: 200px;
}

.down-arrow{
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  animation: pulse 2s infinite
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgb(255, 254, 254, 0.7);
  }
  70% {
    transform: scale(1.25);
    /* box-shadow: 0 0 0 15px rgb(255, 254, 254, 0.7); */
  }
  100% {
    transform: scale(0.9);
  }
 }

/* Project SECTION */

.project-section {
  height: 100vh;
  background: rgb(99, 108, 111);
  background-size: cover;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  
}

.project-section-header {
  display: flex;
  color: white;
  border-bottom: solid #1B5C5A ;
  font-family: poppins-thin;
  font-size: 1.75em;
  justify-content: center;
  margin-top: 25px;
}

.project-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  max-height: 50vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-row {
  display: flex;
  overflow: auto;
  border-radius: 7px;
  padding: 12px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.main-project-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: poppins-light;
  max-width: 32%;
}

.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: poppins-light;
  opacity: 0;
  transition: opacity 0.25s;
}

.image-overlay-blur {
  backdrop-filter: blur(2px);
}

.image-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image-overlay:hover {
  opacity: 1;
}

.image-overlay:hover > * {
  transform: translateY(0);
}

.image-title {
  font-family: poppins-regular;
  font-size: 1.5em;
}

@media all and (max-width: 1056px) {

  .project-section {
    height: fit-content;
  }

  .project-row {
    flex-direction: column;
    align-items: center;
    /* overflow: visible; */
    height: fit-content;
  }

  .project-card {
    min-width: 85%;
  }

}

/* Contact SECTION */

.contact-section {
  height: 300px;
  background: #939DA0;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.contact-section-header {
  display: flex;
  color: white;
  border-bottom: solid #1B5C5A ;
  font-family: poppins-thin;
  font-size: 1.75em;
  justify-content: center;
  margin-top: 25px;
}

.contact-links-div {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2F30;
  /* position: absolute; */
  bottom: 0;
}

.contact-links {
  color: white;
  margin: 0px;
  list-style: none;
  padding: 10px;
  /* display: grid;
  grid-template-columns: repeat(5, auto); */
  align-items: center;
  width: 60%;
  text-align: center;
}

.contact-links li {
  display: inline;
  margin-left: 2.5%;
  margin-right: 2.5%;
}



/* GLOBALS */

.section-route-button {
  align-self: flex-end;
  /* position: absolute; */
  bottom: 2%;
  margin: 2%;
  align-content: flex-end;
}

.section-header {
  display: flex;
  color: white;
  font-family: poppins-thin;
  font-size: 1.75em;
  justify-content: center;
  margin-top: 25px;
}

.section-header h1 {
  position: relative;
  border-bottom: solid #1B5C5A ;
}

h1 {
  
  margin-block-start: 0px;
  margin-block-end: 0px;
}

@media all and (max-width: 500px) {
  .section-route-button {
    display: none;
  }
}


